includes:
    - extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
    ignoreErrors:
        -
            identifier: argument.type
            path: tests/
        -
            identifier: missingType.generics
            path: tests/
        -
            identifier: sanmai.noFinalClasses
            path: src/
