includes:
    - extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
    ignoreErrors:
        -
            identifier: argument.type
            path: tests/UnusedFixturesTest.php
        - '#Final classes are not allowed#'
