services:
    -
        class: Sanmai\PHPStanRules\Rules\NoNestedLoopsRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\NoNestedIfStatementsRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\RequireGuardClausesInLoopsRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\NoElseRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\NoEmptyRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\NoCountZeroComparisonRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\NoEmptyOnStringsRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\RequireGuardClausesInFunctionsRule
        tags:
            - phpstan.rules.rule
    -
        class: Sanmai\PHPStanRules\Rules\NoFinalClassesRule
        tags:
            - phpstan.rules.rule